@charset "UTF-8";
.thumbnail-wrapper{
   width: 200px;
   margin-top: 5px;
}

.thumbnail-wrapper img{
   max-width: 100%;
}

.sizess{
	img: src;
	size: 100px;


}
.dogImage {
	width : 150px;
	height: 200px;
}

#dogimage{
	position : fixed;
	top : 300px;
	
}